<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="/styles/index.css" />
  <%- include('./components/head.ejs') %>
  <body>
    <%- include('./components/nav.ejs') %>
    <h1>!Ooops- page not found</h1>
    <h3>something went wrong.</h3>
  </body>
</html>
