<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="/styles/index.css" />
  <%- include('./components/head.ejs') %>
  <body>
    <%- include('./components/nav.ejs') %>
    <main>
      <h1>About TOSIN</h1>
      <div class="about_container">
        <div class="about_content">
          <p class="about_text">
            Hi, my name is Sobogun Tosin. A very committed, motivated and
            enthusiastic software developer, with the aspiration to learn more
            and grow not only as a software developer.
          </p>
          <p class="about_text">
            I'm proficient in react framework and node, understand and can
            interpret designs, integrating api and ability in optimising web
            functionalities that improves data retrieval and work efficiency.
          </p>
        </div>
        <div class="about_img_container">
          <img src="/assets/tosin.png" alt="image" class="about_img" />
        </div>
      </div>
    </main>
    <%- include('./components/footer.ejs') %>
  </body>
</html>
