<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="/styles/index.css" />
  <%- include('./components/head.ejs') %>
  <body>
    <%- include('./components/nav.ejs') %>
    <div class="home">
      <div class="home_content">
        <h1>Hello world</h1>
        <h2>
          This is my first node project to see the result visit " ...loading"
        </h2>
      </div>
      <img src="/assets/home-hero.jpeg" alt="imgae" class="home-bg" />
    </div>
    <%- include('./components/footer.ejs') %>
  </body>
</html>
